*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

header{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
}


header img{
    width: 5rem;
    height: 5rem;
}

.alfatech{
    display: flex;
    margin-top: 1rem;
}

/* Estilos do Header */


.texto-banner{
 color: rgb(30, 57, 179); 
 border: 1px solid red;
    
}