*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
/* Inicio dos Estilos do Header */
header{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
}


header img{
    width: 5rem;
    height: 5rem;
}

.alfatech{
    display: flex;
    margin-top: 1rem;
}

.logo{
    margin-left: 0.7rem;
}

.logo p{
    color: #2F8FDC;
    font-weight: 600;
    
}

nav a {
    text-decoration: none;
    font-weight: 600;
    margin-right: 10px;
    color: rgb(63, 63, 63)
}
 nav a:hover{
    border-bottom:2px solid #2F8FDC;
}
/* Fim dos Estilos do Header */


/* Inicio dos Estilos do banner */
#banner{

    background-color:#2F86D6 ;
    display: flex;
    justify-content: space-around;
    height: 30rem;
    align-items: center;
    color: white;
    
}
.texto-banner{

    color:#fcfcfc; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.texto-banner p{
    
    font-size: 0.9rem;
}
.texto-banner h2{
    
    margin: 1.0rem 0rem 1.0rem 0rem;
    font-size: 22px;
}

#banner img{

   
    width: 34rem;
    height: 27rem;
    
}

.anuncio{
    background-color: #23303E;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
}

.anuncio a{
    background-color:#2F86D6 ;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;

}

.anuncio a:hover{
    background-color: #2f85d6c1;
}

